@model IEnumerable<VD.Data.Entity.BQC.LichSuNapThe>
@{
    ViewBag.Title = "Lịch sử nạp thẻ";
    Layout = "~/Views/Shared/_layout2.cshtml";
}
<link href="~/Content/css/profile.css?v=1" rel="stylesheet" />
<div id="user-profile-2" class="user-profile vcontainer">
    <div class="tabbable">
        <ul class="nav nav-tabs padding-18">
            <li>
                <a  href="@Url.Action("Profile","User")">
                    <i class="green ace-icon fa fa-user bigger-120"></i>
                    Tiểu sử
                </a>
            </li>
            <li>
                <a href="@Url.Action("DonHang","User")">
                    <i class="blue fa fa-folder bigger-120"></i>
                    Đơn hàng
                </a>
            </li>
            <li>
                <a href="@Url.Action("LichSuGiaoDich","User")">
                    <i class="orange ace-icon fa fa-clock-o bigger-120"></i>
                    Lịch sử giao dịch
                </a>
            </li>

            <li class="active">
                <a  href="@Url.Action("LichSuNapThe","User")">
                    <i class="blue ace-icon fa fa-credit-card-alt bigger-120"></i>
                    Lịch sử nạp thẻ
                </a>
            </li>


        </ul>
    </div>
    
    
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên thẻ</th>
                    <th>Mệnh giá</th>
                    <th>Ngày nạp</th>
                </tr>
            </thead>
            <tbody>
                @if (!Model.Any())
                {
                    <tr class="animated bounceIn text-center">
                        <td colspan="100%">0 thẻ nạp</td>
                    </tr>
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.tenthe</td>
                        <td>@item.menhgia</td>
                        <td>@item.ngay.XuatDateTime()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
