@model Web.ViewModels.Admin.Form.Users.FrmChangePassword
         
@{
    ViewBag.Title = "Change password - user";
    Layout = "~/Views/Shared/_vt.cshtml";
}


<div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("ChangePassword", "Auth", FormMethod.Post, new { @role = "form",area="" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m=>m.ID)
                    <div class="form-group">
                        Username
                        @Html.TextBoxFor(m => m.TenDangNhap, new {  @class = "form-control",@readonly="readonly" })
                    </div>

                    <div class="form-group ">
                        Current password
                        @Html.PasswordFor(m => m.MatKhauCu, new { @class = "form-control" })
                    </div>

                    <div class="form-group ">
                        New password
                        @Html.PasswordFor(m => m.MatKhauMoi, new { @class = "form-control" })
                    </div>
                    <div class="form-group ">
                        Comfirm new password
                        @Html.PasswordFor(m => m.ReMatKhauMoi, new {  @class = "form-control" })
                    </div>

                    <!--footer-->
                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-xl" onclick="return confirm('Xác nhận đổi mật khẩu?')">Lưu</button>
                           
                  
                    </div>
                    <div class="DivErrs" style="color:red;">@Html.ValidationSummary()</div>
                }
            </div>
        </div>
        <div class="col-lg-4">
        </div>

    </div>
</div>
