@model Web.Areas.Admin.ViewModels.SettingEmailRobotVM
@{
    ViewBag.Title = "Setting";
    ViewBag.Title2 = "Email robot";
    Layout = "~/Views/Shared/_vt.cshtml";
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h1>Email system</h1>
                <p>
                    This email is used to receive all information
                </p>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.sys_email)
                @Html.TextBoxFor(m => m.sys_email, new { @class = "form-control" })
            </div>
            <div class="well">
                <h1>Email robot</h1>
                <p>This email is used to send automatic messages to customers</p>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.sys_email_robot)
                @Html.TextBoxFor(m => m.sys_email_robot, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.sys_email_robot_pw)
                @Html.TextBoxFor(m => m.sys_email_robot_pw, new { @class = "form-control" })
            </div>
        </div>
    </div>
   
    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Update setting</button>
}