@using OfficeOpenXml.FormulaParsing.Excel.Functions.Logical
@model VD.Data.Paging.PG<VD.Data.Entity.MF.Article>
@{
    int? AboutUsMainId = ViewBag.AboutUsMainId;
   
}


@if (Model.L.Any())
{

    foreach (var item in Model.L)
    {

        <tr>
            <td>
                <input type="checkbox" class="cb_item" value="@item.Id" />
            </td>
            <td>
                <a class="btn btn-default btn-xs" onclick="clsArticle.fnShowEdit(@item.Id,$(this))">@item.Id</a>
            </td>
            <td>
                <i class='@item.FontAwesomeIcon'/> &nbsp; @item.Title
            </td>
            <td>@item.Category.Name</td>
            <td>
                @if (item.CategoryId == 1)
                {
                    if (AboutUsMainId != null && item.Id == AboutUsMainId)
                    {
                        <button class="btn btn-success" onclick="clsArticle.fnSetMainAboutUs(@item.Id,$(this))"><i class="fa fa-check"></i></button>
                    }
                    else
                    {
                        <button class="btn" onclick="clsArticle.fnSetMainAboutUs(@item.Id,$(this))">Set</button>
                    }
                }
            </td>
            <td>

                <div class="btn-group">
                    <a class="btn btn-default" title="Chỉnh sửa" onclick="clsArticle.fnShowEdit(@item.Id,$(this))"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-default" title="Xóa" onclick="clsArticle.fnDelete(@item.Id,$(this))"><i class="fa fa-remove"></i></a>
                </div>

            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="100%" class="nodata">Empty</td>
    </tr>
}
<tr class="trfooter">
    <td colspan="100%">
        @Html.Raw(Model.thongtinphantrang)
    </td>
</tr>

