@model IQueryable<VD.Data.Entity.MF.ProductCat>
@{
    string SelectedValue = ViewBag.SelectedValue;
}

<select id="@ViewBag.Name" name="@ViewBag.Name" class="form-control">
    <option value="-1">--@(ViewBag.Default)--</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id" @(SelectedValue == item.Id.ToString() ? "selected" : "")>
            @item.Name @(item.ShowInProduct?" (*)":"")
        </option>
        Html.RenderAction("ddlChild", new { parentId = item.Id, sign = 1, SelectedValue = SelectedValue });
    }
</select>