@model Web.Areas.Admin.ViewModels.MF.ProductCRUD


@{
    ViewBag.Title = "Product";
    ViewBag.Title2 = "CREATE NEW";
    Layout = "~/Views/Shared/_bootstrap_modal.cshtml";
}


<div class="modal-body">
    @using (Ajax.BeginForm("Create", "DonHang", FormMethod.Post, new AjaxOptions { OnSuccess = "fnOnSuccess" }))
    {
        @Html.AntiForgeryToken()
        <div class="show_err" style="color:red;">
            @Html.ValidationSummary(false)
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.ImgTmpId)
        <div class="form-horizontal">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Price, new { @class = "form-control num" })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IsGiamGia, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(model => model.IsGiamGia, new { })
                        @Html.ValidationMessageFor(model => model.IsGiamGia, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.GiamGiaCon, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.GiamGiaCon, new { @class = "form-control num" })
                        @Html.ValidationMessageFor(model => model.GiamGiaCon, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Infomation, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Infomation, new { @class = "form-control fEditor" })
                        @Html.ValidationMessageFor(model => model.Infomation, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductCatId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @{Html.RenderAction("ddlParent", "ProductCat", new { name = Html.IdFor(m => m.ProductCatId), SelectedValue = Model.ProductCatId });}
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductCatId2, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @{Html.RenderAction("ddlParent", "ProductCat", new { name = Html.IdFor(m => m.ProductCatId2), SelectedValue = Model.ProductCatId2 });}
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Infomation, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(model => model.MainProduct, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MainProduct, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConHang, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(model => model.ConHang, new {  })
                        @Html.ValidationMessageFor(model => model.ConHang, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IsBanChay, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(model => model.IsBanChay, new { })
                        @Html.ValidationMessageFor(model => model.IsBanChay, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
          
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">@mui.mui.cancel</button>
            <button type="submit" class="btn btn-primary">@mui.mui.save</button>
        </div>
    }


    <div class="form-group">
        <div id="progress" style="background-color: blue;width:100%">
            <div class="bar" style="background-color: red;width:0px;"></div>
        </div>
        <div id="info"></div>
        <div class="imgs"></div>
    </div>
    <h2>Hình ảnh</h2>
    @Html.Partial("_Files")
    <script type="text/javascript">
        function fnOnSuccess(data) {
            if (data.r) {
                $('#modalCRUD').modal('hide');
                cls.fnReload();
            } else {
                toastr.error(data.m);
            }
        }
    </script>
    <script type="text/javascript">
        var $form = null;
        var _imgtmpid = @(Model.ImgTmpId);
      
            $('.fileupload-process').hide();
            $form = $('#fileupload').fileupload({
                autoUpload: true,
                add: function (e, data) {
                    $('.fileupload-process').show();
                    data.submit();
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .bar').css(
                        'width',
                        progress + '%'
                    );
                },
                dataType: 'json',
                sequentialUploads: true,
                formData: { imgtmpid: _imgtmpid, thumbw:200,thumbh:200 },
                fail: function (e, data) {
                    alert('Fail!');
                },
                done: function (e, data) {
                    $('.upl').remove();
                    var result = jQuery.parseJSON(data.jqXHR.responseText);
                    console.log(result.files);
                    $.each(result.files, function (index, file) {
                        /**/
                        // $(".imgs").append("<img src='" + file.url + "'/>");

                        $(".imgs").load("/Vdadmin/FileUpload/GetFiles?imgtempid="+_imgtmpid);
                    });
                    $('.fileupload-process').hide();
                }

            });

       
        $('#fileupload').addClass('fileupload-processing');
    </script>
    
 
</div>
