@model IEnumerable<VD.Data.Entity.MF.Catalog>
@{
    ViewBag.Title = "Catalog";
    ViewBag.Title2 = "Index";
    Layout = "~/Views/Shared/_vt.cshtml";
}
<div class="btn-group my-pnl">
    <a href="@Url.Action("Create")" class="btn btn-default">@mui.mui.create_new</a>
</div>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>#ID</th>
            <th>Tiêu đề</th>
            <th>Đường dẫn</th>
            <th>Url</th>
            <th>Target</th>
            <th>Css class</th>
            <th>Thứ tự</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
              
                <td>
                    <a class="btn btn-xs btn-default" href="@Url.Action("Edit", new {id = item.Id})">@item.Id</a>

                </td>
              
                <td>@item.Title</td>
                <td>
                    <img src="@item.HinhAnh" style="width: 250px;"/>
                </td>
                <td>
                    <a href="@item.Url">@item.Url</a>
                </td>
                <td>
                    @item.Target
                </td>
                <td>
                    div: @item.CssClassDiv
                    <br/>
                    img: @item.CssClass
                </td>
                <td>
                    @item.ThuTu
                </td>
                
                <td>
                    <div class="btn-group">
                        <a class="btn btn-default" title="Sửa" href="@Url.Action("Edit", new {id = item.Id})"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-default" title="Xóa" href="javascript:void(0);" onclick=" fnDelete(@item.Id); "><i class="fa fa-remove" style=""></i></a>
                    </div>
                </td>
            </tr>
        }

    }
    else
    {
        <tr>
            <td colspan="100%">0 item</td>
        </tr>
    }
</table>


<script type="text/javascript">

    var fnDelete = function (_id) {
        if (confirm("Are you sure?") == true) {
            var param = {
                url: "@Url.Action("Delete")",
                param: JSON.stringify({ id: _id }),
                fnSuccess: function (data) { //Success
                    if (!data.r) {
                        alert(data.m);
                    } else {
                        window.location.reload(false);
                    }
                }
            };
            fnAjax(param);
        }
    }

</script>