@using System.Threading
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("meta", false)
    <title>@ViewBag.Title</title>
    <!--jquery ui-->
    <link href="~/Content/Plugin/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Plugin/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet" />
    <!--toastr-->
    <link href="~/Content/Plugin/toastr/toastr.min.css" rel="stylesheet" />
    <!--chossen-->
    <link href="~/Content/Plugin/chosen_v1.4.2/chosen.min.css" rel="stylesheet" />
    <!--v: -->
    <link href="~/Content/css/animate.css" rel="stylesheet" />
   
    <!-- Bootstrap -->
    <link href="~/Content/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/gentelella/vendors/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/Content/gentelella/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Content/gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="~/Content/gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">


    <!-- Custom Theme Style -->
    <link href="~/Content/gentelella/build/css/custom.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="~/Content/gentelella/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/gentelella/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/gentelella/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/Content/gentelella/vendors/Chart.js/dist/Chart.min.js"></script>
    <!--switchery-->
    <link href="~/Content/gentelella/vendors/switchery/dist/switchery.min.css" rel="stylesheet" />
    <script src="~/Content/gentelella/vendors/switchery/dist/switchery.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Content/gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Content/gentelella/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/Content/gentelella/vendors/skycons/skycons.js"></script>
    
    
    <!--qua-->
    <link href="~/Content/gentelella/aqua/style.css" rel="stylesheet" />
    <link href="~/Content/gentelella/aqua/forms.css" rel="stylesheet" />
    <link href="~/Content/Plugin/pace/pace.css" rel="stylesheet" />
    

    <!--v:  DataTables JavaScript -->
    <script src="~/Content/plugin/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugin/datatables/dataTables.bootstrap.min.js"></script>
    <link href="~/Content/plugin/datatables/dataTables.bootstrap.css" rel="stylesheet" />

    <!---ck-->
    <script src="~/Scripts/MyScripts/common.js"></script>
    <script src="~/Scripts/MyScripts/ajaxHelpers.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckfinder/ckfinder.js"></script>
    <script src="~/Content/Plugin/lightbox/js/lightbox.min.js"></script>
    <script src="~/Content/Plugin/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/Plugin/chosen_v1.4.2/chosen.jquery.min.js"></script>
    <script src="~/Content/Plugin/datepicker-vi.js"></script>
    <script src="~/Scripts/autoNumeric.js"></script>

    <script src="~/Scripts/lib/jquery.cookie.js"></script>
    <!--toastr-->
    <script src="~/Content/Plugin/toastr/toastr.min.js"></script>
    <script src="~/Content/Plugin/pace/pace.min.js"></script>
    <link href="~/Content/gentelella/vendors/starrr/dist/starrr.css" rel="stylesheet" />
    <script src="~/Content/gentelella/vendors/starrr/dist/starrr.js"></script>
    
    
    <link href="~/Content/Plugin/Magnific-Popup/dist/magnific-popup.css" rel="stylesheet" />
    <script src="~/Content/Plugin/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-unobtrusive-ajax")
    
    
    
    <!-- blueimp File Upload & Gallery styles -->
    @Styles.Render("~/Content/jQuery-File-Upload")
    @Scripts.Render("~/bundles/jQuery-File-Upload")
    @Scripts.Render("~/bundles/Blueimp-Gallerry2")

    <style>
        .table-template-data th:hover {
            color: red;
            background-color: yellow;
        }

        .td_num {
            text-align: right;
        }

        .form-group input[type=checkbox] {
            margin-top: 10px;
        }


        /* enable absolute positioning */
        .inner-addon {
            position: relative;
        }

            /* style icon */
            .inner-addon .glyphicon {
                position: absolute;
                padding: 10px;
                pointer-events: none;
            }

        /* align icon */
        .left-addon .glyphicon {
            left: 0px;
        }

        .right-addon .glyphicon {
            right: 0px;
        }

        /* add padding  */
        .left-addon input {
            padding-left: 30px;
        }

        .right-addon input {
            padding-right: 30px;
        }
    </style>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            @{ Html.RenderAction("LeftNav", "aWebParts", new { area = "Admin" });}
            <!-- top navigation -->
            @{ Html.RenderAction("Head", "aWebParts", new { area = "Admin" });}
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @*<div class="page-title">
                        <div class="title_left">
                            <h3>
                                @ViewBag.Title
                                <small>@ViewBag.Title2</small>
                            </h3>
                        </div>
                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Search for..." type="text">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>*@
                @*<div class="clearfix"></div>*@

                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title <small>@ViewBag.Title2</small></h2>
                        @*<ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">Settings 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>*@
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @if (TempData["message"] != null)
                        {
                            string type = "alert-success";
                            if (TempData["message"].ToString().ToLower().Contains("error"))
                            {
                                type = " alert-error";
                            }
                            <div class="alert @type alert-dismissible animated bounce">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button" onclick="$(this).parent().hide();">×</button>
                                <h4><i class="icon fa fa-info"></i> Thông điệp!</h4>
                                @TempData["message"]
                            </div>
                        }
                        <p>@ViewBag.Description</p>
                        @RenderBody()

                        <!-- end project list -->

                    </div>
                </div>

            </div>
            <!-- /page content -->
            <!-- footer content -->
            @{Html.RenderAction("Footer", "aWebParts", new { area = "Admin" });}
            <!-- /footer content -->
        </div>
    </div>
    
    <!-- Modal -->
    <!-- Modal -->
    <div class="modal fade-scale" id="modalCRUD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg main" role="document" id="myModal_content">

        </div>
    </div>

    <!-- Custom Theme Scripts -->
    <script src="~/Scripts/MyScripts/jQueryFixes.js"></script>
    <script src="~/Content/gentelella/build/js/custom.min.js"></script>
    <script type="text/javascript">
        $.cookie.json = true;
        $(function () {
            $(document).ajaxStart(function () {
                $(".ovl").show();
                Pace.start();

            });
            $(document).ajaxStop(function () {
                $(".ovl").hide();
                Pace.stop();
            });
        });
        /**/
        var NumberGroupSeparator = '@(System.Threading.Thread.CurrentThread.CurrentCulture.NumberFormat.NumberGroupSeparator)';
        var NumberDecimalSeparator = '@(System.Threading.Thread.CurrentThread.CurrentCulture.NumberFormat.NumberDecimalSeparator)';
        /**/


        $(document).ready(function () {
            $(".myalert").click(function () {
                $(this).fadeOut(400);
            });

            $(".btnBrowseFile").click(function () {
                var id = $(this).parent().parent().find(".txtFile").attr("id");
                fnDuyetFile(id);
            });
            function fnDuyetFile(id_select_back) {
                var ckf = new CKFinder();
                ckf.selectActionFunction = function (fileUrl) {
                    $("#" + id_select_back).val(fileUrl);
                }
                ckf.popup();
            }
            $('.sEditor').each(function () {
                CKEDITOR.replace($(this).attr('id'), {
                    toolbar: [
                        ['Source', 'Bold', 'Italic', 'Underline', 'StrikeThrough', 'FontSize'],
                        ['NumberedList', 'BulletedList', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],
                        ['Image', 'Table', '-', 'Link', 'TextColor', 'BGColor', 'timestamp'],
                        ['Maximize']
                    ]
                });
            });


        });
    </script>
    <script src="~/Scripts/MyScripts/ck-helpers.js"></script>



    <script type="text/javascript">
        //datatable
        var myDataTable = $('#dataTables').DataTable({
            "aaSorting": [],
            responsive: true,
            "pageLength": 50,

            //"language": {
            //    "lengthMenu": "Hiển thị _MENU_ dòng mỗi trang",
            //    "zeroRecords": "Không tồn tại dữ liệu",
            //    "info": "trang _PAGE_ trên _PAGES_",
            //    "infoEmpty": "Không tồn tại dữ liệu",
            //    "infoFiltered": "(đã lọc _MAX_ total dòng)",
            //    "search": "Tìm kiếm ",
            //    "paginate": {
            //        "previous": "Trang trước",
            //        "first": "Trang đầu",
            //        "next": "Tiếp theo",
            //        "last": "Sau cùng"
            //    }

            //}
        });
    </script>

    @RenderSection("JS", required: false)


    <!--render scripts pariatl-->
    <script type="text/javascript">
        var gb_f1 = new Date().getFullYear() - 20;
        var gb_f2 = new Date().getFullYear() + 1;

        var culture_datetime = '@JQEXT.GetJavascriptShortDatePattern(Thread.CurrentThread.CurrentUICulture.DateTimeFormat)';

        function format_datepicker() {
            $(".datepicker").datepicker({
                dateFormat: culture_datetime,
                changeMonth: true,
                changeYear: true, yearRange: gb_f1 + ':' + gb_f2,
                beforeShow: function () {
                    setTimeout(function () {
                        $('.ui-datepicker').css('z-index', 99999999999999);
                    }, 0);
                }

            });
            /*
             $(".datepicker").datepicker({
                //comment the beforeShow handler if you want to see the ugly overlay
                beforeShow: function () {
                    setTimeout(function () {
                        $('.ui-datepicker').css('z-index', 99999999999999);
                    }, 0);
                }
            });*/
        }

        function format_autonumeric() {
            $('.num_null').autoNumeric('init', { aSep: NumberGroupSeparator, aDec: NumberDecimalSeparator, aPad: false, vMin: '0', vMax: '99999999999' });
            $('.int_num').autoNumeric('init', { aSep: '', aPad: false, vMin: '0', vMax: '99999999999' });
            $('.num').autoNumeric('init', { aSep: NumberGroupSeparator, aDec: NumberDecimalSeparator, aPad: false, vMin: '0', vMax: '99999999999' });
            $('.fnum_am').autoNumeric('init', { aSep: NumberGroupSeparator, aDec: NumberDecimalSeparator, aPad: false, vMin: '-99999999999.99', vMax: '99999999999.99' });
            $('.fnum').autoNumeric('init', { aSep: NumberGroupSeparator, aDec: NumberDecimalSeparator, aPad: false, vMin: '0', vMax: '99999999999.99' });
            $('.fnum_1').autoNumeric('init', { aSep: NumberGroupSeparator, aDec: NumberDecimalSeparator, aPad: false, vMin: '1', vMax: '99999999999.99' });
            $('.num1den5').autoNumeric('init', { aSep: NumberGroupSeparator, aDec: NumberDecimalSeparator, aPad: false, vMin: '1', vMax: '5' });
            $('.num_am').autoNumeric('init', { aSep: NumberGroupSeparator, aDec: NumberDecimalSeparator, aPad: false, vMin: '-9999999999999', vMax: '99999999999' });
            $('.numlength2').autoNumeric('init', { aSep: NumberGroupSeparator, aDec: NumberDecimalSeparator, aPad: false, vMin: '0', vMax: '100' });
        }
        format_autonumeric();
        format_datepicker();
        $(".ddlChosen").chosen();
        $(".img-ck").myCkfinderStart();
        function fnInitImage(jqSelector) {
            jqSelector.find('.img-ck').each(function () {
                $(this).myCkfinderStart();
            });
        }

        function fnInitEditor(jqSelector) {
            jqSelector.find('.sEditor').each(function () {
                CKEDITOR.replace($(this).attr('id'), {
                    toolbar: [
                        ['Source', 'Bold', 'Italic', 'Underline', 'StrikeThrough', 'FontSize'],
                        ['NumberedList', 'BulletedList', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],
                        ['Image', 'Table', '-', 'Link', 'TextColor', 'BGColor', 'timestamp'],
                        ['Maximize']
                    ],
                    height: "150px",
                });
            });
        }
        $(function () {
            $('form').submit(function () {
                if ($(this).valid()) {
                    // client validation passed successfully
                    var data_confirm = $(this).data("confirm");
                    if (data_confirm != undefined) {
                        return confirm(data_confirm);
                    } else {
                        return true;
                    }

                } else {

                    alert('there was an error during client validation');

                    /*
                    $('html, body').animate({
                        scrollTop: $(".show_err").offset().top
                    }, 1500);*/

                    // cancel the submission of the form
                    return false;
                }
            });
        });
        $(".partialContents").each(function (index, item) {
            var url = $(item).data("url");
            if (url && url.length > 0) {
                $(item).load(url);
            }
        });


        $(".table-template-data tbody th").attr("title", "Bấm vào để copy");
        $(".table-template-data tbody th").click(function () {
            toastr.clear();
            copyToClipboard($(this));
            toastr.success($(this).html(), "coppied");

        });
        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
        }

        $('.img-popup').magnificPopup({
            type: 'image'
            // other options
        });
    </script>
</body>
</html>
