@model Web.ViewModels.Form.FrmResetPwView
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_mnqt.cshtml";
    List<SelectListItem> ddlCusCat = ViewBag.ddlCusCat;
}



<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4 style="border-bottom: 1px solid #c5c5c5;">
            <i class="glyphicon glyphicon-user">
            </i>
            Account
        </h4>
        <div>
            <h4 class="">
                Reset your password for account <b>@Model.Email</b>
            </h4>
            @using (Html.BeginForm("ResetPassword", "cusAuth", FormMethod.Post, new { @role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="show_err" style="color:red;">
                    @Html.ValidationSummary(false)
                    @Html.HiddenFor(model=>model.key)
                </div>
                <div class="form-group ">
                    <label for="password" class="control-label col-lg-4">New password <span class="required">*</span></label>
                    <div class="col-lg-8">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group ">
                    <label for="confirm_password" class="control-label col-lg-4">Confirm new Password <span class="required">*</span></label>
                    <div class="col-lg-8">
                        @Html.PasswordFor(m => m.ne_Repassword, new { @class = "form-control" })
                    </div>
                </div>

         
                <div class="form-group ">
                    <label for="address" class="control-label col-lg-4">&nbsp;</label>
                    <div class="col-lg-8">
                        <button type="submit" class="btn btn-primary">Submit<i class="fa fa-sign-in"></i></button>
                    </div>
                </div>
            }

        </div>


    </div>



</div>